// Variables
$primary-color: #000000;
$secondary-color: #ffffff;

$suppression-background-color: #ff0606;
$button-modifier-background-color: #159AD5;
$background: linear-gradient(#fee7b3, #ecd592,#f28841);