#footer{
    background-color: $primary-color;
    color: $secondary-color;
    padding: 2rem 1rem;

    div{
        margin-bottom: 2rem;
        text-align: center;

        &:last-child{
            margin-bottom: 0;
        }
    }

    a{
        color: $secondary-color;
        text-decoration: none;
    }


    .contact{
        h3{
            color: $secondary-color;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p{
            margin: 0.5rem 0;
            font-size: 0.9rem;

            a{
                color: $secondary-color;
            }
        }
    }

    .italic{
        font-style: italic;
        font-size: 0.9rem;
        display: block;
        color: blue;
        margin-bottom: 0.5rem;
    }

    .bold{
        font-weight: 700;
        font-size: 1.1rem;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    #footer{
        padding: 4rem 3rem;
        grid-template-columns: repeat(3, 1fr);
        
        margin: 0 auto;

        div{
            &:last-child{
                grid-column: auto;
                text-align: right;
            }
        }

        .contact{
            text-align: center;

            h3{
                font-size: 1.4rem;
            }

            p{
                font-size: 1.1rem;
            }
        }

        .italic{
            font-size: 1rem;
        }

        .bold{
            font-size: 1.2rem;
        }
    }
}

