//home mobile-first 320px
#bienvenue{
  padding: 1rem;

    >section{
      max-width: 100%;
      margin: 0 auto;

        h2{
          padding-top: 1.5rem;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          margin-bottom: 1.5rem;
        }

        .collage-gallery{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }

        .gallery-item{
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 2px 4px;
          transition: transform 0.3s ease;

          &:hover{
            transform: translateY(-5px);
            box-shadow: 0 4px 8px;
          }

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
          }
        }
    }
    
}

@media screen and (min-width: 768px) {
  #bienvenue{
    >section{
     h2{
       font-size: 2rem;
     }
      .collage-gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
   }
}

@media screen and (min-width: 1200px){
  #bienvenue{
    >section{
      h2{
        padding-top: 5rem;
        font-size: 2.5rem;
      }

      .collage-gallery{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    }
  }
}

